.imgediv {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: flex-start;
	align-items: center;
	background-color: #141429;
	color: white;
}
.imge {
	width: 85%;
	height: 50vh;
}
.text {
	text-align: center;
}
.ptext {
	text-align: center;
}
.divp {
	margin-top: 19px;
	padding: 0px 59vh;
}
